.SuggestedActivity {
    border: solid 4px gold;
    border-radius: 10px;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 50vw;
    min-height: 25vh;
    text-align: center;
    overflow-wrap: break-word;
    
}

.SuggestedActivity #help {
    height: 2vh;
    position: relative;
    left: calc(50% - 1vw);
    padding-right: 3px;
    opacity: 0.2;
}

.SuggestedActivity #help:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s ease-in-out;
}

.SuggestedActivity #title {
    width: 100%;
    font-size: 3vh;
    font-weight: bold;
    padding-bottom: 2vh;
    overflow-wrap: break-word;
}

.SuggestedActivity #info {
    padding-bottom: 2vh;
}

.SuggestedActivity #icon {
    padding-left: 10px;
    padding-right: 10px;
}

.SuggestedActivity #icon >img:hover {
    opacity: 0.5;
    visibility: visible;
}

.SuggestedActivity #icon > img {
    padding-right: 10px;
}

.SuggestedActivity #warningtext {
    color: red;
    font-size: calc(7px + 0.5vh);
}

.SuggestedActivity #createdby {
    color: gray;
    font-size: 12px;
}
