.SuggestedActivity #title > input {
    font-size: 3vh;
    font-weight: bold;
    border: solid 1px gray;
    text-align: center;
}

.SuggestedActivity #icon > input {
    width: 45px;
}

.SuggestedActivity #saveAddOwn > span {
    margin-left: 15px;
}

.SuggestedActivity #saveAddOwn > span >input {
    margin-right: 5px;
}