.userview {
    padding: 50px 0 0 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* overflow: auto; */
}

.header {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* border: solid 1px; */
}

.profile {
    /* border: solid 1px; */
    width: 250px;
}

.profilecontent #head {
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(200, 200, 200);
}

.profilecontent #head > h1 {
    font-size: calc(25px - 15%);
    font-weight: bold;
    /* text-align: center; */
}

.profilecontent #head > h4 {
    font-size: 16px;
    font-weight: 400;
}

.profilecontent #editprofile {
    margin: 0 0 10px 0;
    width: 100%;
    padding: 5px;
}

.profilecontent #description {
    padding: 10px 0 0 0;
    word-break: break-word;
    font-size: 15px;
    white-space: pre-wrap;
    /* border: solid 1px black; */
}

.profilePic {
    border-radius: 10%;
    border: solid 4px gold;
    margin: 10px 0 10px 0;
}

.update-profile-pic-box {
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
}

#uploadprofilepic {
    width: 100%;
}

#uploadprofilepicbtn {
    padding: 5px;
    width: 100%;
    margin: 10px 0 0 0;
}

.content {
    padding: 0 0 0 10px;
    margin: 15px 0 0 15px;
    /* border-left: solid 1px rgb(210, 210, 210); */
    /* border: solid; */
    width: 100%;
}

.content #bukketlists {
    height: 30vh;
}

.content #submittedactivities {
    height: 30vh;
}

#textareauserdesc {
    resize: none;
    height: 250px;
    width: 100%;
    border: solid 1px white;
    outline: none;
    transition: 0.15s;
}

h3 {
    border-bottom: solid 1px rgb(200, 200, 200);
}

#editdescbtn {
    padding: 5px;
    margin: 0 2.5% 10px 2.5%;
    width: 45%;
}