.Suggestion {
    border: solid 4px gold;
    border-radius: 10px;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 50vw;
    height: 20vh;
    text-align: center;
}

.Suggestion #title {
    font-size: 3vh;
    font-weight: bold;
    /* padding-top: 1vh; */
    padding-bottom: 2vh;
}

.Suggestion #title > input {
    font-size: 3vh;
    font-weight: bold;
    border: solid 1px gray;
}

.Suggestion #help {
    position: absolute;
    right: calc(25vw + 10px);
    top: calc(130px + 7.5vh);
    height: 20px;
    opacity: 0.2;
    transition: 0.2s;
}

.Suggestion #help:hover {
    cursor: pointer;
    opacity: 0.6;
}

.Suggestion #info {
    padding-bottom: 2vh;
}

.Suggestion #icon {
    padding-left: 10px;
    padding-right: 10px;
}

.Suggestion #icon:hover {
    opacity: 0.5;
    visibility: visible;
}

.Suggestion #icon > img {
    padding-right: 10px;
}

.Suggestion #icon > input {
    width: 45px;
}

.Suggenstion #spinner {
    transition: ease-in-out;
}