.Register {
    width: 50vh;
    margin: auto;
}

.RegisterForm {
    padding: 5%;
}
.RegisterButton {
    width: 100%;
}

.RegisterLinks {
    text-align: center;
    padding: 3%;
}

.register_title {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 2vh;
}

.Register2 {
    border: solid 0.4vh gold;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
}

.Register2 th {
    padding-bottom: 5vh;
    width: 100%;
    font-size: 2vh;
}

.Register2 th > input {
    width: 25vw;
    padding: 10px;
}

.register_button_div {
    width: 100%;
    /* margin-top: 1vh; */
}

.Register2 button {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: block;
    font-weight: bold;
    color: white;
    background-color: rgb(44, 168, 44);
    border-radius: 10px;
    border: solid 1px #173A17;
    transition: 0.2s;
}

.Register2 button:hover {
    background-color: rgb(36, 134, 36);
}

.Register2 button:disabled {
    cursor: not-allowed;
    background-color: rgb(150, 212, 150);
    border: solid 1px black;
}

#httpwarning {
    font-size: 2vh;
    padding: 2vh;
}