.Bucketlist {
    /* overflow: auto; */
    margin: 2vh;
    margin-bottom: 5vh;
    width: 50vw;
    border: solid 4px gold;
    border-radius: 10px;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.BucketlistItem {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: white;
    transition: 0.2s;
    /* width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */

    padding-left: 1vw;
    padding-right: 1vw;
}

.BucketlistItem:hover {
    background-color: #c8c8c8;
}

.BucketlistItemTitle {
    /* display: block; */
    /* color: rebeccapurple; */
    /* float: left; */
}

.BucketlistItemButtons {
    /* position: unset; */
    /* float: right; */
    z-index: 1;
}

.BucketlistItemButtons > button {
    margin-left: 5px;
    padding: 0px;
    font-size: 15px;
}