#username {
    color: rgb(90, 90, 90);
    font-size: 12px;
}

#description {
    font-size: 14px;
}

#availability {
    margin-left: 10px;
    padding: 1px;
    font-size: 12px;
    border: solid 1px rgb(200, 200, 200);
    color: rgb(100, 100, 100);
    background-color: white;
}

.SearchResult:hover {
    background-color: rgb(230, 230, 230);
}

#userlink {
    padding-left: 10px;
}

#userdesc {
    font-size: 13px;
    padding-left: 10px;
}

.SearchResult {
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding: 15px 5px 15px 5px;
    border-top: solid 1px rgb(200, 200, 200);
}