.SearchPageView {
    width: 35vw;
    /* border: solid 1px; */
    padding: 10px 0 10px 0;
    overflow: auto;
    max-height: calc(100vh - 50px);
    background-color: white;
}

.SearchPageView >div> h4 {
    padding: 15px 0 10px 0;
}

.NoResultsFound {
    font-size: 1vw;
    text-align: center;
    border: solid 0.2vw gold;
    border-radius: 1vw;
    width: 60vw;
    word-break: break-word;
    margin-top: -40vh;
    padding: 2vw;
    background-color: white;
}