.SidebarItem {
    background-color: gold;
    color: black;

    border: solid 2px rgb(44, 87, 168);
    border-radius: 5px;
    padding: 10px;

    margin: 2px 0 2px 0;

    cursor: pointer;
    transition: 0.2s;
    width: 100%;
    min-height: 5vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* display: inline-block; */
}

.SidebarItem:hover {
    background-color: rgb(209, 178, 0);
}

.selected {
    background-color: rgb(44, 87, 168);
    color: gold;
}

.selected:hover {
    background-color: rgb(46, 54, 160);
}

#itemtitle {
    float: left;
    overflow: hidden;
    width: 100%;
    overflow-wrap: break-word;
}

#delete {
    position: relative;
    float: right;
    z-index: 100;
}

#deleteimg:hover {
    opacity: 1;
}

#deleteimg {
    width: 2vw;
    opacity: 0.5;
}