.Login {
    width: 50vh;
    margin: auto;
}

.LoginForm {
    padding: 5%;
}
.LoginButton {
    width: 100%;
}

.LoginLinks {
    text-align: center;
    padding: 3%;
}

.Login2 {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding-top: 1vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
}

.Login2 th {
    color: white;
}

.Login2 input {
    padding-left: 3px;
    border: solid 1px;
    width: 15vw;
    border-color: black;
    height: 4vh;
    font-size: 2vh;
    padding-top: 5px;
    padding-bottom: 5px;
    /* padding-top: 1vh;
    padding-bottom: 1vh; */
}

.Login2 button {
    width: 110px;
    font-weight: bold;
    cursor: pointer;
    /* background-color: rgb(70, 151, 69); */
    background-color: rgb(44, 168, 44);
    color: white;
    border-radius: 3px;
    border: solid 1px black;
    transition: 0.2s;
}

.Login2 button:hover {
    /* background-color: rgb(50, 130, 49); */
    background-color: rgb(36, 134, 36);
}

.Login2 button:disabled {
    cursor: not-allowed;
    /* background-color: rgb(150, 201, 159);
    border: solid 1px rgb(100, 151, 109); */
    background-color: rgb(150, 212, 150);
    border: solid 1px black;

}

.Login2 a {
    color: #173A17;
}

td, th {
    padding-right: 1vw;
}

tr {
    padding: 1%;
}

.Login2 th#logintitle {
    font-size: 2vh;
}

#loginbtn {
    height: 4vh;
    min-width: 3vw;
    font-size: 2vh;
}