.SearchInput {
    border-radius: 3px;
    border: solid 1px black;
    padding: 3px 5px 3px 5px;
    margin: 0 0 0 10px;
    transition: 0.3s;
}

.SearchInput::placeholder {
    color: black;
}

.SearchInput:focus::placeholder{
    color: rgb(150, 150, 150);
}

#search-button {
    padding: 3px;
    font-weight: bold;
}